<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix">
			<div class="grid_8 content">
				<h2 class="page_title">
					<a href="#">Clássico</a> - 
					<a href="#">Camaro</a> - Chevrolet
				</h2>
				
				<article class="box clearfix item_main">
					<h3>Chevrolet Camaro</h3>
					<span class="item_rating">4.5</span>
					<div class="half left item_images clearfix">
						<div class="overlayed">
							<img src="/dist/images/aston.jpg" alt="">
							<div class="overlay">
								<span class="overlay-icon-single">
									<a href="/dist/images/aston.jpg" class="fancybox" data-fancybox-group="group1">
										<i class="icomoon-expand-2"></i>
									</a>
								</span>
							</div>
						</div>

						<div class="row four_images">
							<div class="overlayed span3">
								<img src="/dist/images/aston1.jpg" alt="">
								<div class="overlay">
									<span class="overlay-icon-single">
										<a href="/dist/images/aston1.jpg" class="fancybox" data-fancybox-group="group1">
											<i class="icomoon-expand-2"></i>
										</a>
									</span>
								</div>
							</div>

							<div class="overlayed span3">
								<img src="/dist/images/aston2.jpg" alt="">
								<div class="overlay">
									<span class="overlay-icon-single">
										<a href="/dist/images/aston2.jpg" class="fancybox" data-fancybox-group="group1">
											<i class="icomoon-expand-2"></i>
										</a>
									</span>
								</div>
							</div>

							<div class="overlayed span3">
								<img src="/dist/images/aston3.jpg" alt="">
								<div class="overlay">
									<span class="overlay-icon-single">
										<a href="/dist/images/aston3.jpg" class="fancybox" data-fancybox-group="group1">
											<i class="icomoon-expand-2"></i>
										</a>
									</span>
								</div>
							</div>

							<div class="overlayed span3">
								<img src="/dist/images/aston4.jpg" alt="">
								<div class="overlay">
									<span class="overlay-icon-single">
										<a href="/dist/images/aston4.jpg" class="fancybox" data-fancybox-group="group1">
											<i class="icomoon-expand-2"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
						<a href="#" class="view_more_images">[+] View all photos</a>
					</div>

					<div class="half right">
						<div class="item_heading">
							<h4>Chevrolet <a href="item.html">Camaro</a></h4>
							<span class="location">São Paulo, <strong>SP</strong></span>
							<span class="vendor">Carlos Araújo</span>
							<span class="item_date">25 Março, 2015</span>
						</div>
						<div class="item_info clearfix">
							<p class="half left">
								<span class="item_year">2000</span>
								<span class="item_engine">1,6</span>
								<span class="item_fuel">Gasolina</span>
								<span class="item_transimition">Manual</span>
								<span class="item_drive">Direção Hidráulica</span>
							</p>
							<p class="half right">
								<span class="item_type">Sedan</span>
								<span class="item_mileage">90.000 KM</span>
								<span class="item_color">Preto </span>
								<span class="item_interior_color">Preto</span>
							</p>
						</div>
						<div class="item_footer row clearfix">
							<span class="item_price span5">35.000,00</span>
							<a href="#" class="button green span7">Fale com Vendedor</a>
						</div>
					</div>
				</article>

				<section id="item_info" class="box">
					<h3>Informações sobre o Veículo</h3>
					<div class="box-content">
						<h5>Chevrolet Camaro Clássico</h5>
						<p>Tem um boato que fala da existência de um Camaro perdido, que foi construído em 1970 com um motor V8 aspirado de 1000 cavalos. Existe uma única unidade no mundo, e ela foi escondida pelo Chegãn Lucca em algum lugar da Arábia Saudita. O motivo de ter guardado foi a alta tecnologia empregada na sua construção, que seria muito avançada para a época.</p>
						<h5>Acessórios</h5>
						<ul>
							<li>Banco de couro</li>
							<li>Vidro eletrico.</li>
						</ul>
					</div>
				</section>	

				<section id="vendor" class="box">
					<h3>Vendor</h3>
					<div class="box-content clearfix">
						<div class="half left">
							<div class="row">
								<img src="/dist/images/johnsdoe.jpg" alt="" class="span4">
								<div class="span8 vendor_info">
									<span class="vendor_title">Carlos Araújo</span>
									<span>Cidade: <strong>São Paulo, SP</strong></span>
									<span>Proposta : <strong>10</strong></span>
									<span>Última visualização: <strong>5 hr atrás</strong></span>
								</div>
							</div>
						</div>
						<div class="half right">
							<a href="#">Informações do Vendedor</a>
							<a href="#" class="button blue big wide">
								<i class="icomoon-volume-medium"></i>
								(11) 2291-6968
							</a>
						</div>
					</div>
				</section>
				<!--
				<section id="post_comments" class="box">
					<h3>Comments</h3>
					<div class="box-content new_comment">
						<div class="row">
							<form action="#">
								<div class="span6">
									<textarea name="comment" id="comment" placeholder="Enter your comment..." ></textarea>
								</div>
								<div class="span6">
									<p class="logged_user">
										<img src="/dist/images/johnsdoe.jpg" alt="comment_gravatar">
										<span>John S. Doe</span>
									</p>
									<a class="button submit red wider">Leave a comment</a>
								</div>
							</form>
						</div>
					</div>
					<div class="box-content">
						<div class="comment">
							<h5>John S. Doe</h5>
							<img src="/dist/images/johnsdoe.jpg" alt="comment_gravatar">
							<span class="comment_date">5 hours ago</span>
							<a href="#" class="comment_reply">Reply</a>
							<p>
								Maiores sint ad nostrum itaque architecto quis fuga eum voluptatem tempore autem nesciunt modi dolorum ratione sit fugit quidem dolor omnis praesentium hic tenetur commodi facilis! Maxime, vel quis soluta nihil tempora qui laboriosam nam veniam
							</p>
						</div>
						<div class="comment">
							<h5>Alex Greenwood</h5>
							<img src="/dist/images/alex.jpg" alt="comment_gravatar">
							<span class="comment_date">6 hours ago</span>
							<a href="#" class="comment_reply">Reply</a>
							<p>
								Maiores sint ad nostrum itaque architecto quis fuga eum voluptatem tempore autem nesciunt modi dolorum ratione sit fugit quidem dolor omnis praesentium hic tenetur commodi facilis! Maxime, vel quis soluta nihil tempora qui laboriosam nam veniam
							</p>
							<div class="comment">
								<h5>John S. Doe</h5>
								<img src="/dist/images/johnsdoe.jpg" alt="comment_gravatar">
								<span class="comment_date">5 hours ago</span>
								<a href="#" class="comment_reply">Reply</a>
								<p>
									Maiores sint ad nostrum itaque architecto quis fuga eum voluptatem tempore autem nesciunt modi dolorum ratione sit fugit quidem dolor omnis praesentium hic tenetur commodi facilis! Maxime, vel quis soluta nihil tempora qui laboriosam nam veniam
								</p>
							</div>
						</div>
						<div class="comment">
							<h5>Alice Fork</h5>
							<img src="/dist/images/alice.jpg" alt="comment_gravatar">
							<span class="comment_date">1 day ago</span>
							<a href="#" class="comment_reply">Reply</a>
							<p>
								Maiores sint ad nostrum itaque architecto quis fuga eum voluptatem tempore autem nesciunt modi dolorum ratione sit fugit quidem dolor omnis praesentium hic tenetur commodi facilis! Maxime, vel quis soluta nihil tempora qui laboriosam nam veniam
							</p>
						</div>
						<div class="all_comments">
							<a href="#" class="button red wider">See all 26 Comments</a>
						</div>
					</div>					
				</section>-->
			</div>

			<div class="grid_4 sidebar">
				<div class="row social_buttons">
					<div class="span4">
						<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "../../connect.facebook.net/en_US/all.js#xfbml=1";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
					</div>
					
					<div class="span4">
						<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</div>

					<div class="span4">
						<div class="g-plusone" data-size="medium"></div>
						<script type="text/javascript">
						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = '../../apis.google.com/js/plusone.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
					</div>
				</div>
				<!--
				<div class="box">
					<h3>Categories</h3>
					<div class="box-content widget-categories">
						<ul>
							<li><a href="#">Cars<span>23</span></a></li>
							<li><a href="#">Trucks<span>356</span></a></li>
							<li><a href="#">Motorbikes<span>45</span></a></li>
							<li><a href="#">Buses<span>71</span></a></li>
							<li><a href="#">Campers<span>18</span></a></li>
						</ul> 
					</div>
				</div>

				<div class="label_under">
					<p><a href="#">View all categories</a></p>
				</div>

				<div class="box">
					<h3>Online Support</h3>
					<div class="box-content widget_online_support">
						<div class="row">
							<img src="/dist/images/johnsdoe.jpg" alt="" class="span6">
							<div class="span6">
								<span class="online_support_title">John S. Doe</span>
								<p>Integer nisl nunc, porta id sodales et, pulvinar et risus.</p>
							</div>
						</div>
						<a href="#" class="button blue big wide"><i class="icomoon-volume-medium"></i>+1 (555) 555 - 35 - 55</a>
						<a href="#">Contact Support Team</a><br>
						<a href="#" class="link_light_gray">Learn more about <strong>Motor</strong></a>
					</div>
				</div>-->

				<div class="box">
					<h3>Assine nossa newsletter</h3>
					<div class="box-content widget_newsletter">
						<p>Fique por dentro das novidades que rolam na JunkStation</p>
						<form action="#">
							<input type="text" name="name" placeholder="Name">
							<input type="text" name="email" placeholder="Email">
							<p class="newsletter_checkbox">
								<label for="special_offers" class="custom_checkbox">
									<input type="checkbox" name="special_offers" id="special_offers">
									Receber ofertas especiais
								</label>
							</p>
							<p class="newsletter_button"><a class="button submit red wider">Assinar</a>
						</form>
					</div>
				</div>

				<div class="box">
					<h3>Junk Station</h3>
					<div class="box-content">
						<p>A <strong>Junk Station</strong> nasceu para facilitar a vida dos admiradores dos clássicos... Desde carros antigos, carros especiais, motos, caminhões e até bicicletas antigas. Tudo reunido em um só lugar, onde as pessoas dividem seus desejos, conhecimentos e falam a mesma língua. Vem fazer parte da família Junk Station !!!
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>
