<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Bem vindo(a) ao Meu Velhinho</title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix content">
			<header class="row-fluid text-center">
  				<h1>Cancelamento de Newsletter realizada com sucesso !</h1>
  				<h4>Muito obrigado por fazer parte da família Junk Station, caso mude de idéia nos estamos aqui te esperando.</h4>
			</header>
			
			<section class="row-fluid text-center">
				<p class="text-left">
			    	<a href="/">Clique aqui para ir para Home Page</a>
			  	</p>
			</section>	
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>