<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix content">
			<header class="row-fluid text-center">
  				<h1>Bem vindo a família Junkstation </h1>
  				<h4>Seu cadastro foi ativado com sucesso </h4>
			</header>
			
			<section class="row-fluid text-center">
				<p class="text-left">
			    	<a href="/login">Clique aqui para realizar o login</a>
			  	</p>
			</section>	
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>