<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
		<% include template/scripts %>
	</head>

	<body >
		<% include template/header %>
		<div class="container_12 clearfix content">
			<div class="grid_9 content">
				<h2 class="page_title with_filter">Meus Anúncios</h2>
				<article class="box clearfix grid_item">
					<div class="item_heading">
						<div class="overlayed">
							<img src="/dist/images/smart.jpg" alt="">
							<div class="overlay">
								<span class="overlay-icon-left"><a href="/anuncio/detail"><i class="icomoon-link"></i></a></span>
								<span class="overlay-icon-right"><a href="/dist/images/smart.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
							</div>
						</div>
						<h4>Smart <a href="/anuncio/detail">Fortwo</a></h4>
						<span class="location">New York, <strong>NY</strong></span>
					</div>

					<div class="item_info">
						<span class="item_year">2006</span>
						<span class="item_engine">0.9</span>
						<span class="item_transimition">Automatic</span>
						<span class="item_mileage">16,000 miles</span>
					</div>

					<div class="item_footer">
						<span class="item_price">$6,000</span>
						<span class="item_rating">4.3</span>
					</div>
				</article>
				<article class="box clearfix grid_item">
					<div class="item_heading">
						<div class="overlayed">
							<img src="/dist/images/smart.jpg" alt="">
							<div class="overlay">
								<span class="overlay-icon-left"><a href="/anuncio/detail"><i class="icomoon-link"></i></a></span>
								<span class="overlay-icon-right"><a href="/dist/images/smart.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
							</div>
						</div>
						<h4>Smart <a href="/anuncio/detail">Fortwo</a></h4>
						<span class="location">New York, <strong>NY</strong></span>
					</div>

					<div class="item_info">
						<span class="item_year">2006</span>
						<span class="item_engine">0.9</span>
						<span class="item_transimition">Automatic</span>
						<span class="item_mileage">16,000 miles</span>
					</div>

					<div class="item_footer">
						<span class="item_price">$6,000</span>
						<span class="item_rating">4.3</span>
					</div>
				</article>
				<article class="box clearfix grid_item">
					<div class="item_heading">
						<div class="overlayed">
							<img src="/dist/images/smart.jpg" alt="">
							<div class="overlay">
								<span class="overlay-icon-left"><a href="/anuncio/detail"><i class="icomoon-link"></i></a></span>
								<span class="overlay-icon-right"><a href="/dist/images/smart.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
							</div>
						</div>
						<h4>Smart <a href="/anuncio/detail">Fortwo</a></h4>
						<span class="location">New York, <strong>NY</strong></span>
					</div>

					<div class="item_info">
						<span class="item_year">2006</span>
						<span class="item_engine">0.9</span>
						<span class="item_transimition">Automatic</span>
						<span class="item_mileage">16,000 miles</span>
					</div>

					<div class="item_footer">
						<span class="item_price">$6,000</span>
						<span class="item_rating">4.3</span>
					</div>
				</article>
				<article class="box clearfix grid_item">
					<div class="item_heading">
						<div class="overlayed">
							<img src="/dist/images/smart.jpg" alt="">
							<div class="overlay">
								<span class="overlay-icon-left"><a href="/anuncio/detail"><i class="icomoon-link"></i></a></span>
								<span class="overlay-icon-right"><a href="/dist/images/smart.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
							</div>
						</div>
						<h4>Smart <a href="/anuncio/detail">Fortwo</a></h4>
						<span class="location">New York, <strong>NY</strong></span>
					</div>

					<div class="item_info">
						<span class="item_year">2006</span>
						<span class="item_engine">0.9</span>
						<span class="item_transimition">Automatic</span>
						<span class="item_mileage">16,000 miles</span>
					</div>

					<div class="item_footer">
						<span class="item_price">$6,000</span>
						<span class="item_rating">4.3</span>
					</div>
				</article>
			</div>

			<div class="grid_3 sidebar">
				<div class="box">
					<h3>Gerenciar</h3>
					<div class="box-content">
						<li><a href="/anuncio/creat">Incluir Anúncio</a></li>
						<li><a href="/anuncio/meusanuncios">Meus Anúncios</a></li>
					</div>
				</div>
			</div>
		</div>
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>

