<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix content">
			<header class="row-fluid text-center">
  				<h4>Confirmação de assinatura recebida com sucesso !</h4>
  				<h1>
  					Seu pedido foi concluído com sucesso! Uma mensagem com os detalhes desta transação foi enviada para o seu e-mail. Você também poderá acessar sua conta PagSeguro no endereço https://pagseguro.uol.com.br/ para mais informações.
  				</h1>
			</header>
			
			<section class="row-fluid text-center">
				<p class="text-left">
			    	<a href="/login">Clique aqui para acompanhar a seu pedido</a>
			  	</p>
			</section>	
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>