<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
		<% include template/scripts %>
	</head>

	<body >
		<% include template/header %>

		<link rel="stylesheet" href="/css/planos.css">
		
		<div class="container_12 clearfix">
			<div class="grid_12 content">
				<h2 class="page_title with_filter">Venha fazer parte da equipe Junk Station !</h2>
				<p>
					Marketing apophenia bomb sentient denim into semiotics plastic human lights. Systemic RAF city narrative pen rifle claymore mine render-farm fluidity monofilament chrome grenade girl Chiba marketing. Drugs faded franchise rain denim beef noodles sign sentient motion 8-bit. Sprawl long-chain hydrocarbons apophenia semiotics fluidity shanty town market wonton soup artisanal vehicle footage. 
				</p>

				<section class="main clearfix">
					<section class="pricing-columns-both pricing-section">
				      	<div class="wrapper-full">
				         	<div id="pricing-chart-wrap">
				            	<div id="pricing-chart">
				               		<div id="smaller-plans">
				                  		<div class="plan ">
						                    <div class="price">
						                        <span class="dollar">R$</span>
						                        <span class="amount" >0</span>
						                        <span class="slash">/</span>
						                        <span class="month">Mês</span>
						                    </div>
						                    <ul>
						                        <li>4C<span> Cil </span></li>
						                        <li>01<span>Foto</span></li>
						                        <li>30<span>Dias </span></li>
						                        <li><span>Renováveis</span></li>
						                    </ul>
						                     <a class="button sign-up" href="#">Assinar</a>
						                </div>
						                <div class="plan popular">
						                     <div class="price">
						                        <span class="dollar">R$</span>
						                        <span class="amount">60</span>
						                        <span class="slash">/</span>
						                        <span class="month">Mês</span>
						                     </div>
						                     <p class="pop-plan">O mais popular</p>
						                     <ul>
						                        <li>V6<span> Cil </span></li>
						                        <li>03<span> Fotos</span></li>
						                        <li><span>Mensal</span></li>
						                        <li><span>Até vender</span></li>
						                     </ul>
						                     <a class="button sign-up" href="#">Assinar</a>
						                </div>
						                <div class="plan ">
						                    <div class="price">
						                    	<span class="dollar">R$</span>
						                    	<span class="amount">99</span>
						                        <span class="slash">/</span>
						                        <span class="month">Mês</span>
						                    </div>
						                    <ul>
						                    	<li>V8<span> Cil </span></li>
						                    	<li>06<span> Fotos </span></li>
						                    	<li>01<span> Video </span></li>
						                    	<li><span>Até Vender</span></li>
						                    </ul>
						                    <a class="button sign-up" href="#">Assinar</a>
						                </div>
					                 	 <div class="plan ">
						                    <div class="price">
						                    	<span class="dollar">R$</span>
						                    	<span class="amount">150</span>
						                        <span class="slash">/</span>
						                        <span class="month">Mês</span>
						                    </div>
						                    <ul>
						                    	<li>V10<span> Cil </span></li>
						                    	<li>15<span> Fotos </span></li>
						                    	<li>01<span> Video </span></li>
						                    	<li><span>Até Vender</span></li>
						                    </ul>
						                    <a class="button sign-up" href="#">Assinar</a>
						                </div>
				               		</div>
				            	</div>
				        	 </div>
				      	</div>
				   </section>
				</section>

				<h2 class="page_title with_filter clearfix">Se você é PJ, nós temos um plano especial para você!</h2>
				<p>
					Marketing apophenia bomb sentient denim into semiotics plastic human lights. Systemic RAF city narrative pen rifle claymore mine render-farm fluidity monofilament chrome grenade girl Chiba marketing. Drugs faded franchise rain denim beef noodles sign sentient motion 8-bit. Sprawl long-chain hydrocarbons apophenia semiotics fluidity shanty town market wonton soup artisanal vehicle footage. 
				</p>
			</div>
		</div>

		

		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>