<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
		<% include template/scripts %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix content">
			<header class="row-fluid text-center">
  				<h1>Junkstation</h1>
  				<h4>Aconteceu algo terrível! :(</h4>
			</header>
			
			<section class="row-fluid text-center">
				<p class="text-left">
			    	Veja o que aconteceu...
			    	<br>
			    	Erro: <%- error.message %>
			    	<hr>
			    	Que tal voltar <a href="/">home page?</a> :)
			  	</p>
			</section>	
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>