<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
		<% include template/scripts %>
	</head>

	<body >
		<% include template/header %>
		
		<section id="content" class="clearfix">
			<div class="container_12">
				<div class="grid_8" style="text-align:justify;">
					<h2 class="page_title with_filter">Conheça os nossos serviços!</h2>
					
					<hr>
					
					<div class="row" >
						<div class="span6">
							<h4><i class="icomoon-bubbles-2"></i>Compra & Venda</h4>
							<p>O mercado possui uma enorme variedade de profissionais atualizados no mercado de automóvel, todos especialistas em carros novos, carros usados de utilização do dia-a-dia e baseados em padrão de preços tabelados.</p>
							<p>Agora você conta com um equipe especialista no segmento de clássicos. Toda a dedicação e empenho de nosso time especialista para valorizar, comprar e/ou vender o seu sonho.</p>
						</div>

						<div class="span6">
							<h4><i class="icomoon-airplane"></i>Assessoria</h4>
							<p>Você possui o sonho de importar algum veículo? </p>
							<p>Nós prestamos toda a assessoria necessária para a realização de seu sonho.</p>
							<p>Temos um time especialista para cuidar de todas as etapas do processo desde a compra, 
							embarque, legalização brasileira, emplacamento e a entrega de seu sonho.</p>
						</div>
					</div>

		            <hr>

					<div class="row">
						<div class="span6">
							<h4><i class="icomoon-airplane"></i>Funilaria e Pintura</h4>
							<p>A Junk Station possui uma ampla e moderna cabine de pintura!!!</p>
		                    <p>Diferente dos modelos convencionais, a cabine conta com 36 metros quadrados, que proporciona aos nossos especialistas em pintura, maior mobilidade e qualidade durante a execução dos serviços. Atendemos desde pequenos retoques até a pintura completa do seu veículo.</p>
		                    <p>Venha conhecer nossas restaurações!!!</p>
						</div>

						<div class="span6">
							<h4><i class="icomoon-thumbs-up"></i>Consignação </h4>
							<p>Nós trabalhamos todo o processo de venda com toda segurança e praticidade. 
							Preparamos seu veículo com lavagem, cristalização, higienização, fotos de studio, 
							além de cuidarmos de toda a parte burocrática relacionada a documentação e taxas. 
							</p>
						</div>
					</div>
		                            
		            <hr>

					<div class="row">
						<div class="span6">
							<h4><i class="icomoon-thumbs-up"></i>Dinamômetro</h4>
		                    <p>Trouxemos o que há de mais moderno em dinamômetro, o famoso Mustang Dynamometer!!!</p>
		                    <p>O Mustang Dynamometer conta com a Weather Station, uma moderna estação que analisa as condições climáticas e pressão atmosférica, para corrigir os resultados e calibrar o seu teste... mais precisão e qualidade pra você!!!</p> 
		                    <p>Agenda já seu horário!!!</p>
						</div>					
						
						<div class="span6"></div>
					</div>
					
					<hr>

					<p>
						Nosso compromisso é a excelência e a satisfação total de nossos clientes. 
						Com know-how adquirido durante anos de experiência e parceria com a America Parts, nós da Junk Station, 
						trabalhamos de forma customizada para que cada cliente se sinta único e seja atendido na totalidade das suas necessidades.
					</p>

					<ul>
						<li>Profissionais especialistas</li>
						<li>Eficácia e agilidade</li>
						<li>Segurança</li>
						<li>Conhecimento de mercado</li>
						<li>Parcerias logísticas e comerciais</li>
					</ul>
				</div>

				<div class="grid_4 sidebar">
					<div class="grid_4 sidebar">
						<div class="box">
							<h3>Junk Station</h3>
							<div class="box-content">
								<p>A <strong>Junk Station</strong> nasceu para facilitar a vida dos admiradores dos clássicos... Desde carros antigos, carros especiais, motos, caminhões e até bicicletas antigas. Tudo reunido em um só lugar, onde as pessoas dividem seus desejos, conhecimentos e falam a mesma língua. Vem fazer parte da família Junk Station !!!
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>