<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
		<% include template/scripts %>
	</head>

	<body >
		<% include template/header %>
		
		<section id="content" class="clearfix">
			<div class="container_12">
				<div class="grid_8 content">
					<h2 class="page_title"><a>Sobre</a> - Junk Station</h2>

					<article class="box single_post">
						<h3>Quem Somos?</h3>
						<div class="box-content">
							<div class="single_post_meta">
								<i class="icomoon-calendar"></i><span>De</span>
								<i class="icomoon-tags"></i><span>Eventos </span>
							</div>
							
							<div class="overlayed">
								<img src="/dist/images/junkcars/IMG-20150604-WA0030.jpg" alt="">
								<div class="overlay">
									<span class="overlay-icon-single">
										<a href="/dist/images/junkcars/IMG-20150604-WA0030.jpg" class="fancybox" data-fancybox-group="group1">
											<i class="icomoon-expand-2"></i>
										</a>
									</span>
								</div>
							</div>
					
							<p>
								Com know-how, adquiridos durante 6 anos de atuação e parceria com a America Parts, nós da Junk Station, trabalhamos de forma customizada para que cada cliente se sinta único e seja atendido na totalidade das suas necessidades. Ou seja, nosso maior compromisso é a excelência e a satisfação total de nossos clientes.
							</p>
							
							<p>
								Desde carros antigos, carros especiais, motos, caminhões e até bicicletas antigas. 
								Tudo reunido em um só lugar, onde as pessoas dividem seus desejos, conhecimentos, falam a 
								mesma língua e são movidos pelo mesmo combustível, a 
								<strong><font color="red"> PAIXÃO!!!</strong></font>
							</p> 
							
							<div class="post_gallery">
								<div class="row">
									<div class="span6">
										<div class="overlayed">
											<img src="/dist/images/junkcars/junkcar4.jpg" alt="">
											<div class="overlay">
												<span class="overlay-icon-single">
													<a href="/dist/images/junkcars/junkcar2.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a>
												</span>
											</div>
										</div>
									</div>

									<div class="span6">
										<div class="overlayed">
											<img src="/dist/images/junkcars/junkcar5.jpg" alt="">
											<div class="overlay">
												<span class="overlay-icon-single"><a href="/dist/images/junkcars/junkcar5.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="span6">
										<div class="overlayed">
											<img src="/dist/images/junkcars/junkcar6.jpg" alt="">
											<div class="overlay">
												<span class="overlay-icon-single"><a href="/dist/images/junkcars/junkcar6.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
											</div>
										</div>
									</div>

									<div class="span6">
										<div class="overlayed">
											<img src="/dist/images/junkcars/junkcar7.jpg" alt="">
											<div class="overlay">
												<span class="overlay-icon-single"><a href="/dist/images/junkcars/junkcar7.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="span6">
										<div class="overlayed">
											<img src="/dist/images/junkcars/junkcar2.jpg" alt="">
											<div class="overlay">
												<span class="overlay-icon-single"><a href="/dist/images/junkcars/junkcar6.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
											</div>
										</div>
									</div>

									<div class="span6">
										<div class="overlayed">
											<img src="/dist/images/junkcars/junkcar3.jpg" alt="">
											<div class="overlay">
												<span class="overlay-icon-single"><a href="/dist/images/junkcars/junkcar3.jpg" class="fancybox" data-fancybox-group="group1"><i class="icomoon-expand-2"></i></a></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<p>Venha fazer parte da família Junk Station !!!</p>

							<div class="post_social_buttons row">
								<div class="span2"></div>
								<div class="span2">
									<div class="g-plusone" data-size="medium"></div>
								</div>
							</div>

							<span class="post_tags">JunkStation</span>
							<span class="post_tags">Clássicos</span>
							<span class="post_tags">DasAntigas</span>
							<span class="post_tags">CarrosAntigos</span>	
						</div>
					</article>
				</div>

				<div class="grid_4 sidebar">
					<p>&nbsp;</p><div class="box">
						<h3>Serviços</h3>
						<div class="box-content">
							<p>A <strong>Junk Station</strong> oferece os serviços de Assessoria, Compra e Venda e Consignação. 
							Procurando uma equipe especialista no segmento de clássicos? Acabou de encontrar!!!
							</p>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>