<div class="box clearfix" ng-show="true">
	<h3>Lista de Anunciantes <span class="badge">{{entities.length}}</span></h3>
	<div class="box-content clearfix bordered_under">
		
		<input id="txtPesquisa" class="form-control" type="text" placeholder="Filtro de pesquisa" ng-model="filtroPesquisa"/>
		
		<table class="table table-condensed table-striped table-bordered">
			<caption></caption>
			
			<thead>
				<tr>
					<th><a href="" ng-click="orderBy('local.username');">Nome</a></th>
					<th><a href="" ng-click="orderBy('local.email');">E-mail</a> </th>
					<th><a href="" ng-click="orderBy('contaAtiva');">Status</a> </th>
					<th><a href="" ng-click="orderBy('dataCadastro');">Data Cadastro</a></th>
					<th><a href="" ng-click="orderBy('dadosPessoais.cidade');">Cidade</a> </th>
					<th><a href="" ng-click="orderBy('dadosPessoais.estado');">UF</a> </th>
					<th><a href="" ng-click="orderBy('dadosPessoais.telefone');">Fone</a> </th>
					<!--<th></th>-->
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="entity in entities | orderBy : ordenacao : direcao | filter : filtroPesquisa ">
					<td>{{entity.local.username}}</td>
					<td>{{entity.local.email}}</td>
					<td>{{entity.contaAtiva === true ? "Ativo" : "Inativo" }}</td>
					<td>{{entity.dataCadastro | date : 'dd/MM/yyyy'}}</td>
					<td>{{entity.dadosPessoais.cidade}}</td>
					<td>{{entity.dadosPessoais.estado}}</td>
					<td>{{entity.dadosPessoais.telefone}}</td>
					<!--<td align="center">
						<button type="button" class="btn btn-success btn-xs" ng-click="selectEntity(entity)">Editar</button>
						<button type="button" class="btn btn-danger btn-xs"  ng-click="destroy(entity)">Excluir</button>
					</td>-->
				</tr>
			</tbody>
		</table>
	</div>	
</div>