
<div ng-messages="entityForm.nameEntity.$error" ng-show="entityForm.$dirty">
	<div class="alert alert-danger alert-dismissible" role="alert" ng-message="required">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  		<span aria-hidden="true">&times;</span>
		</button>
	  	<strong>Erro ! </strong>O campo <strong>nome do modelo</strong><b></b> é obrigatório.
	</div>
</div>

<div ng-messages="entityForm.marca.$error" ng-show="entityForm.$dirty">
	<div class="alert alert-danger alert-dismissible" role="alert" ng-message="required">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  		<span aria-hidden="true">&times;</span>
		</button>
	  	<strong>Erro ! </strong>O campo <strong>marca </strong> é obrigatório
	</div>
</div>

<div ng-messages="entityForm.situacao.$error" ng-show="entityForm.$dirty">
	<div class="alert alert-danger alert-dismissible" role="alert" ng-message="required">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  		<span aria-hidden="true">&times;</span>
		</button>
	  	<strong>Erro ! </strong>O campo <strong>situação</strong> é obrigatório
	</div>
</div>

<div class="box clearfix">
	<h3>Cadastro de Modelo</h3>
	<div class="box-content clearfix bordered_under">
		<form name="entityForm">
			
			<div class="form-group">
		    	<label for="nameEntity">Nome </label>
		    	<input id="nameEntity" class="form-control" name="nameEntity" type="text" ng-model="entity.nome"  ng-required="true"/>
		  	</div>

		  	<div class="form-group">
		    	<label for="marca">Marca</label>
		    	<select name="marca" id="marca" class="form-control" ng-model="entity.marca._id" ng-required="true"
		    	 ng-options="mca._id as (mca.nome +' ('+  mca.categoria.nome +')') group by mca.categoria.nome for mca in marcas | orderBy : 'nome'" ></select>
		  	</div>
		  	
		  	<div class="form-group">
		    	<label for="situacao">Situação</label>
		    	<select name="situacao" id="situacao" class="form-control" ng-model="entity.situacao" ng-required="true"
		    	 ng-options="atv.valor as atv.nome for atv in situacoes" ></select>
		  	</div>
		  	
		  	<button type="submit" class="btn btn-success btn-block" ng-click="createOrUpdate(entity)" ng-disabled="entityForm.$invalid">Enviar</button>
		</form>
	</div>	
</div>

<div class="box clearfix">
	<h3>Lista de Modelos <span class="badge">{{entitiesLength}}</span></h3>
	<div class="box-content clearfix bordered_under">
		
		<input id="txtPesquisa" class="form-control" ng-keyup="filtered()" type="text" placeholder="Filtro de pesquisa" ng-model="filtroPesquisa"/>
		
		<table class="table table-condensed table-striped table-bordered">
			<caption></caption>
			
			<thead>
				<tr>
					<th><a href="" ng-click="orderBy('marca.categoria.nome');">Categoria</a></th>
					<th><a href="" ng-click="orderBy('marca.nome');">Marca</a></th>
					<th><a href="" ng-click="orderBy('nome');">Modelo</a> </th>
					<th><a href="" ng-click="orderBy('situacao');">Ativo</a> </th>
					<th><a href="" ng-click="orderBy('dataCricao');">Data Criação</a></th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="entity in entities | orderBy : ordenacao : direcao">
					<td>{{entity.marca.categoria.nome}}</td>
					<td>{{entity.marca.nome}}</td>
					<td>{{entity.nome}}</td>
					<td>{{entity.situacao === true ? "Sim" : "Não" }}</td>
					<td>{{entity.dataCricao | date : 'dd/MM/yyyy'}}</td>
					<td align="center">
						<button type="button" class="btn btn-success btn-xs" ng-click="selectEntity(entity)">Editar</button>
						<button type="button" class="btn btn-danger btn-xs"  ng-click="destroy(entity)">Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>

		<div ng-show="paginate.length > 1">
		    <uib-pagination total-items="entitiesLength" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="10"></uib-pagination>
		</div>


	</div>	
</div>