<footer>
    <div id="footer_columns" class="clearfix">
        <div class="container_12">
            
            <div class="grid_2">
                <h3>Junk Station</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#politica_privacidade" class="modal">Política de Privacidade</a></li>
                    <li><a href="/anuncio/lista">Novidades</a></li>
                </ul>
            </div>

            <div class="grid_2">
                <h3>Sobre</h3>
                <ul>
                    <li><a href="/anuncio/lista">Últimas Notícias</a></li>
                    <li><a href="/anuncio/grid">Destaques</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                </ul>
            </div>

            <div class="grid_2">
                <h3>Ajuda</h3>
                <ul>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="#">Suporte Online</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>

            <div class="grid_3">
                <h3>Twitter</h3>
                <p class="tweet">
                    <a href="#">@junkstation </a>
                    A vitrine do seu clássico!
                    <a href="#">http://www.junkstation.com.br/</a>
                    <span>posted 2 days ago</span>
                </p>
            </div>

            <div class="grid_3 contact_info">
                <h3>Informações de Contato</h3>
                <p class="contact_info_description">
                    Rua Toledo Barbosa, nr 311<br>
                    Belém - São Paulo - SP
                </p>
                <p><strong>Tel.:</strong>(11) 2291-6968 e (11) 2292-5082</p>
                <p><strong>Email.:</strong> <a href="mailto:contato@junkstation.com.br">contato@junkstation.com.br</a></p>
            </div>
        </div>
    </div>
    
    <!--<div class="clearfix">
        <div class="container_12">
            <div id="logo_footer" class="grid_4">
                <img src="images/logo_footer.png" alt="Motor Logo">
            </div>
            <nav class="grid_5">
                <ul id="footer_menu" class="clearfix">
                    <li class="current_menu_ancestor"><a href="results_list.html">Buy</a></li>
                    <li><a href="results_grid.html">Sell</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Service</a></li>
                </ul>
            </nav>
            <div id="social_icons" class="grid_3">
                <a href="#" class="circle"><i class="icon-twitter"></i></a>
                <a href="#" class="circle"><i class="icon-linkedin"></i></a>
                <a href="#" class="circle"><i class="icon-facebook"></i></a>
            </div>
        </div>
    </div>-->
    
    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3>Escolha uma das opções abaixo : </h3>
            <p>Tem certeza que deseja excluir o registro?</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirmar</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Canclear</button>
        </div>
    </script>

    <div class="login_form_modal_container">
        <div id="termos_uso" class="box" style="width: 600px;">
            <h3>Termos e Condições de Uso</h3>
            <div class="box-content clearfix" style="height : 400px; overflow : auto; text-align: justify;">
                <p>1. INFORMAÇÕES GERAIS</p>

                <p>A fim de preservar o direito ao sigilo de identidade, dados e informações dos usuários do JUNKSTATION.COM.BR, uma marca da empresa CFJ Comércio e Serviços Automotivos Ltda., a política de privacidade estipulada neste documento define as condições e as diretrizes acerca do tratamento e proteção das informações que serão capturadas por meio do JUNKSTATION.COM.BR.</p>

                <p>A JUNKSTATION.COM.BR poderá alterar esta Política de Privacidade a qualquer momento. Toda alteração será veiculada neste espaço. </p>

                <p>A identificação individual e exclusiva, que recebem os usuários, após se cadastrarem no JUNKSTATION.COM.BR, a qual chamamos de “login”, bem como a sua senha pessoal cadastrada não estarão disponíveis para o público em geral, em razão de se tratarem de dados confidenciais. </p>

                <p>O JUNKSTATION.COM.BR compromete-se em coletar apenas as informações sobre a identificação individual que forem necessárias à emissão de nota fiscal eletrônica ou ao fornecimento de serviços solicitados pelos usuários, a fim de viabilizar seus negócios. Os únicos dados, os quais os usuários concordam automaticamente em divulgar publicamente são: Nome, cidade e Estado de origem e número de telefone.</p>

                <p>Ao se cadastrar no JUNKSTATION.COM.BR, para aquisição dos serviços oferecidos no website, cada usuário recebe uma identificação única, que passa a ser requerida e autenticada nos demais acessos ao site. </p>

                <p>A identificação de usuário é exclusiva e intransferível para ser transmitida ao servidor do JUNKSTATION.COM.BR, sendo a senha armazenada em banco de dados. </p>

                <p>A JUNKSTATION.COM.BR poderá utilizar “cookies” - arquivo-texto, enviado pelo servidor do JUNKSTATION.COM.BR para o computador do usuário, com a finalidade de identificar o computador, personalizar os acessos do usuário e, ainda, obter dados de acesso, como páginas navegadas ou links clicados – apenas para controlar a navegação em seu website. </p>

                <p>A JUNKSTATION.COM.BR compromete-se, ainda, a solicitar autorização prévia aos usuários cadastrados em seu sítio eletrônico, para o envio de material informativo ou promocional, por correio eletrônico. Da mesma, para divulgar alterações e inovações sobre os serviços do JUNKSTATION.COM.BR e de seus parceiros. Também se compromete a não divulgar dados sobre a identificação individual de usuários, para terceiros, exceto com o consentimento prévio. </p>

                <p>2. PRIVACIDADE E SEGURANÇA DE DADOS </p>

                <p>Ao se cadastrar, navegar ou solicitar serviços do JUNKSTATION.COM.BR, podem vir a ser solicitadas informações, dependendo da ação realizada, como: </p>

                <p>-Dados do cadastro do cliente;</p>
                <p>-Dados dos veículos anunciados e pesquisados; </p>
                <p>-Opções de pagamento escolhidas;</p>
                <p>-Formulários eletrônicos preenchidos no sítio eletrônico;</p>
                <p>-Páginas acessadas pelo internauta, para efeito estudo.</p>
                <p>As informações, capturadas pelo JUNKSTATION.COM.BR, serão utilizadas com o objetivo de permitir aos internautas navegar ou realizar as operações disponibilizadas no website, além de identificar o perfil dos internautas e usuários, viabilizando, com isso, o fornecimento de novos serviços no website. </p>
                <p>Os internautas e usuários devem ser cuidadosos e cautelosos com os dados de sua identificação individual sempre que acessar a internet, informando-os somente em operações em que exista a proteção de dados. </p>

                <p>As operações realizadas no JUNKSTATION.COM.BR por um usuário conectado, bem como as informações associadas a estas operações, são exclusivas e só podem ser acessadas por este usuário. 
                Os pagamentos serão realizados diretamente no JUNKSTATION.COM.BR, como a interface de um gateway de pagamento, sob segurança total dos dados digitados. As transações efetuadas para escolha da forma e efetivação do pagamento, independente da forma escolhida, são realizadas em ambiente seguro e certificado por empresa especializada em segurança de dados para a internet. Com isso, o webclássicos.com.br não mantém sob sua guarda nenhum dado de faturamento de seus usuários. </p>

                <p>3. DÚVIDAS </p>

                <p>Caso haja qualquer dúvida sobre esta Política de Privacidade, escreva para: contato@junkstation.com.br. </p>
            </div>
        </div>
    </div>

    <div class="login_form_modal_container">
        <div id="politica_privacidade" class="box" style="width: 600px;">
            <h3>POLÍTICA DE PRIVACIDADE</h3>
            <div class="box-content clearfix" style="height : 400px; overflow : auto; text-align: justify;">
                <p>1. INFORMAÇÕES GERAIS</p>

                <p>A fim de preservar o direito ao sigilo de identidade, dados e informações dos usuários do JUNKSTATION.COM.BR, uma marca da empresa CFJ Comércio e Serviços Automotivos Ltda., a política de privacidade estipulada neste documento define as condições e as diretrizes acerca do tratamento e proteção das informações que serão capturadas por meio do JUNKSTATION.COM.BR.</p>

                <p>A JUNKSTATION.COM.BR poderá alterar esta Política de Privacidade a qualquer momento. Toda alteração será veiculada neste espaço. </p>

                <p>A identificação individual e exclusiva, que recebem os usuários, após se cadastrarem no JUNKSTATION.COM.BR, a qual chamamos de “login”, bem como a sua senha pessoal cadastrada não estarão disponíveis para o público em geral, em razão de se tratarem de dados confidenciais. </p>

                <p>O JUNKSTATION.COM.BR compromete-se em coletar apenas as informações sobre a identificação individual que forem necessárias à emissão de nota fiscal eletrônica ou ao fornecimento de serviços solicitados pelos usuários, a fim de viabilizar seus negócios. Os únicos dados, os quais os usuários concordam automaticamente em divulgar publicamente são: Nome, cidade e Estado de origem e número de telefone.</p>

                <p>Ao se cadastrar no JUNKSTATION.COM.BR, para aquisição dos serviços oferecidos no website, cada usuário recebe uma identificação única, que passa a ser requerida e autenticada nos demais acessos ao site. </p>

                <p>A identificação de usuário é exclusiva e intransferível para ser transmitida ao servidor do JUNKSTATION.COM.BR, sendo a senha armazenada em banco de dados. </p>

                <p>A JUNKSTATION.COM.BR poderá utilizar “cookies” - arquivo-texto, enviado pelo servidor do JUNKSTATION.COM.BR para o computador do usuário, com a finalidade de identificar o computador, personalizar os acessos do usuário e, ainda, obter dados de acesso, como páginas navegadas ou links clicados – apenas para controlar a navegação em seu website. </p>

                <p>A JUNKSTATION.COM.BR compromete-se, ainda, a solicitar autorização prévia aos usuários cadastrados em seu sítio eletrônico, para o envio de material informativo ou promocional, por correio eletrônico. Da mesma, para divulgar alterações e inovações sobre os serviços do JUNKSTATION.COM.BR e de seus parceiros. Também se compromete a não divulgar dados sobre a identificação individual de usuários, para terceiros, exceto com o consentimento prévio. </p>

                <p>2. PRIVACIDADE E SEGURANÇA DE DADOS </p>

                <p>Ao se cadastrar, navegar ou solicitar serviços do JUNKSTATION.COM.BR, podem vir a ser solicitadas informações, dependendo da ação realizada, como: </p>

                <p>-Dados do cadastro do cliente;</p>
                <p>-Dados dos veículos anunciados e pesquisados; </p>
                <p>-Opções de pagamento escolhidas;</p>
                <p>-Formulários eletrônicos preenchidos no sítio eletrônico;</p>
                <p>-Páginas acessadas pelo internauta, para efeito estudo.</p>
                <p>As informações, capturadas pelo JUNKSTATION.COM.BR, serão utilizadas com o objetivo de permitir aos internautas navegar ou realizar as operações disponibilizadas no website, além de identificar o perfil dos internautas e usuários, viabilizando, com isso, o fornecimento de novos serviços no website. </p>
                <p>Os internautas e usuários devem ser cuidadosos e cautelosos com os dados de sua identificação individual sempre que acessar a internet, informando-os somente em operações em que exista a proteção de dados. </p>

                <p>As operações realizadas no JUNKSTATION.COM.BR por um usuário conectado, bem como as informações associadas a estas operações, são exclusivas e só podem ser acessadas por este usuário. 
                Os pagamentos serão realizados diretamente no JUNKSTATION.COM.BR, como a interface de um gateway de pagamento, sob segurança total dos dados digitados. As transações efetuadas para escolha da forma e efetivação do pagamento, independente da forma escolhida, são realizadas em ambiente seguro e certificado por empresa especializada em segurança de dados para a internet. Com isso, o webclássicos.com.br não mantém sob sua guarda nenhum dado de faturamento de seus usuários. </p>

                <p>3. DÚVIDAS </p>

                <p>Caso haja qualquer dúvida sobre esta Política de Privacidade, escreva para: contato@junkstation.com.br. </p>
            </div>
        </div>
    </div>

</footer>

<script src="/dist/js/base-min.js"></script>
<script src="/dist/js/core-min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<script src="/dist/js/app-min.js"></script>

<!--<script async src="/js/lib/commons.js"></script>--> 

<script type="text/javascript">
    $(document).ready(function(){
        $("#modal-login-form").keydown(function(e) {
            if (e.keyCode == 13) {
                $('#modal-login-form').submit();
            }
        });
    });
</script>