<div class="grid_3 sidebar">
	<div class="box">
		<h3>Gerenciar</h3>
		<div class="box-content">
			<li><a href="/admin#/">Área Admnistrativa</a></li>
			<li><a href="/anuncio/creat">Incluir Anúncio</a></li>
			<li><a href="/anuncio/meusanuncios">Meus Anúncios</a></li>
			<li><a href="/anuncio/meusdados">Meus Dados</a></li>
			<li><a href="#">Alterar Senha</a></li>
			
		</div>
	</div>
</div>