<div class="grid_3 sidebar">
	<div class="box">
		<h3>Gerenciar</h3>
		<div class="box-content">
			<% if(util.isAdmin(request)) { %>
				<li><a href="/admin#/">Área Admnistrativa</a></li>
			<%}%>
			<li><a href="/anuncio/create">Incluir Anúncio</a></li>
			<li><a href="/anuncio/meusanuncios">Meus Anúncios</a> <span class="badge"><%- session.countAnuncio %></span> </li>
			<li><a href="/anuncio/meusdados">Meus Dados</a></li>
			<li><a href="/assinatura/listar">Minhas Assinaturas</a></li>
			<li><a href="/oficina">Oficina Integrada</a></li>
		</div>
	</div>
</div>